# Prediction using Supervised ML

## Author: GUNTURU ASHOK

### Importing Required Packages

In [1]:
import pandas as pd

### Reading data

In [2]:
data = pd.read_csv("http://bit.ly/w-data")
print("Data imported successfully")
data.head(10)

Data imported successfully

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

### Seperating input attributes and output labels

In [3]:
X = data.iloc[:, :-1].values  
y = data.iloc[:, 1].values

### Splitting data into train and test sets

In [4]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                            test_size=0.25, random_state=0)

### **Training the Algorithm**

In [5]:
from sklearn.linear_model import LinearRegression  
lr = LinearRegression()  
print("Training Started.")
lr.fit(X_train, y_train) 
print("Training complete.")

Training Started.
Training complete.

### **Making Predictions**

In [6]:
print(X_test) 
y_pred = lr.predict(X_test)

[[1.5]
 [3.2]
 [7.4]
 [2.5]
 [5.9]
 [3.8]
 [1.9]]

In [7]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

   Actual  Predicted
0      20  16.844722
1      27  33.745575
2      69  75.500624
3      30  26.786400
4      62  60.588106
5      35  39.710582
6      24  20.821393

### What will be predicted score if a student studies for 9.25 hrs/ day?

In [8]:
hours = 9.25
own_pred = lr.predict([[hours]])
print("No of Hours per day = {}".format(hours))
print("Predicted Score = {}".format(own_pred[0]))

No of Hours per day = 9.25
Predicted Score = 93.89272889341655